<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vanda.agrivolution">

    <application
        android:allowBackup="true"
        android:icon="@drawable/strawberry"
        android:label="@string/app_name"
        android:roundIcon="@drawable/strawberry"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" />
        <activity android:name=".Registration" />
        <activity android:name=".placeholder" />
        <activity android:name=".Encyclopedia" />
        <activity android:name=".encyclopediaDetail" />
        <activity android:name=".SubmitIssue" />
        <activity android:name=".Profile" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".addEncyclopediaData"></activity>
        <activity android:name=".TicketPage" />
    </application>

</manifest>